.body {
    background-color: $white-color;
    color: $primary-text-color;
    font-family: $basic-font;
    letter-spacing: 0.03em;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    ul {
        list-style: none;
    }
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;

    color: $title-text-color;
    font-weight: $basic-weight;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}