.logo {
    padding-top: 24px;
    padding-bottom: 25px;

    font-family: $secondary-font;
    font-weight: $basic-weight;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logo-black {
    color: $black-color;
}

.logo-blue {
    color: $accent-color;
    
}

.logo .logo-white {
    color: $white-color;
}