.logo {
    padding-top: 24px;
    padding-bottom: 25px;

    text-decoration: none;
}

.logo-black {
    color: $black-color;
    font-family: Raleway, sans-serif;
    font-weight: $basic-weight;
    font-size: 26px;
    line-height: 1.2;
}

.logo-blue {
    color: $accent-color;
    font-family: Raleway, sans-serif;
    font-weight: $basic-weight;
    font-size: 26px;
    line-height: 1.2;
}