/* Палитра цветов */

$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196F3;
$accent-color2: #188CE8;
$white-color: #FFFFFF;
$black-color: #000000;
$shadow-color: rgba(0, 0, 0, 0.2);
$shadow-color2: rgba(0, 0, 0, 0.12);
$shadow-color3: rgba(0, 0, 0, 0.14);
$shadow-color4: rgba(0, 0, 0, 0.15);
$shadow-color5: rgba(0, 0, 0, 0.16);
$shadow-color6: rgba(0, 0, 0, 0.06);
$solid-color: rgba(255, 255, 255, 0.3);
$solid-color2: #EEEEEE;
$solid-color3: #ECECEC;
$solid-color4: rgba(0, 0, 0, 0.1);
$solid-color5: rgba(33, 33, 33, 0.2);
$complementary-color: rgba(255, 255, 255, 0.6);
$complementary-color2: rgba(255, 255, 255, 0.4);
$complementary-color3: #F5F4FA;
$complementary-color4: rgba(255, 255, 255, 0.1);
$complementary-color5: #2F303A;
$complementary-color6: rgba(47, 48, 58, 0.8);
$complementary-color7: rgba(33, 150, 243, 0.9);
$complementary-color8: #AFB1B8;

/* Шрифты */

$basic-font: Roboto, sans-serif;
$secondary-font: Raleway, sans-serif;
$basic-weight: 700;
$basic-size: 14px;
