/* цвет основного текста #757575 */
/* вторичный цвет текста #212121 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* черный #000000 */
/* дополнительный цвет rgba(255, 255, 255, 0.6) */
/* дополнительный цвет2 rgba(255, 255, 255, 0.4) */
/* дополнительный цвет3 #F5F4FA */
/* дополнительный цвет4 rgba(255, 255, 255, 0.1); */
/* дополнительный цвет5 #2F303A*/
/* дополнительный цвет6 rgba(47, 48, 58, 0.8); */
/* дополнительный цвет7 rgba(33, 150, 243, 0.9); */
/* дополнительный цвет8 #AFB1B8 */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --complementary-color: rgba(255, 255, 255, 0.6);
    --complementary-color2: rgba(255, 255, 255, 0.4);
    --complementary-color3: #F5F4FA;
    --complementary-color4: rgba(255, 255, 255, 0.1);
    --complementary-color5: #2F303A;
    --complementary-color6: rgba(47, 48, 58, 0.8);
    --complementary-color7: rgba(33, 150, 243, 0.9);
    --complementary-color8: #AFB1B8;
}

/* Стилизация студии*/

.body {
    background-color: var(--white-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container-main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo */

.logo {
    padding-top: 24px;
    padding-bottom: 25px;

    text-decoration: none;
}

.logo .logo-black {
    color: var(--black-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo-blue {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

ul {
    list-style: none;
}

/* Site-nav */

.site-nav {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 85px;
    padding: 0;
}

.site-nav-item + .site-nav-item {
    margin-left: 50px;
}

.site-nav .link-1 {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link-1:hover,
.site-nav .link-1:focus {
    color: var(--accent-color);
}

.site-nav .link-1.current {
    color: var(--accent-color);
}

.active {
    position: relative;
}

.active:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 2px;
}

/* Auth-nav */

.address-container {
    margin-left: auto;
}

.auth-nav {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.auth-nav-item + .auth-nav-item {
    margin-left: 30px;
}

.icon-mail, .icon-phone {
    margin-right: 10px;
}

.icon-mail, .icon-phone {
    fill: currentColor;
}

.info {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: inline-flex;
    align-items: center;
    margin: 0;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
}

.auth-nav .info:hover,
.auth-nav .info:focus {
    color: var(--accent-color);
}

/* Hero */

.hero {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient( to right, 
    rgba(47, 48, 58, 0.8),
    rgba(47, 48, 58, 0.8)),
    url("../images/проект.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container-hero {
    max-width: 696px;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;

    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
}

.service {
    text-decoration: none;
}

.service-title {
    display: inline-flex;
    
    min-width: 200px;
    padding: 10px 32px;
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 4px;

    background-color: var(--accent-color);
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    line-height: 1.88;
    letter-spacing: 0.06em
}

/* Section */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Features */

.hidden-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.feature-list {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.icon-block {
    display: flex;
    background: var(--complementary-color3);
    margin-bottom: 30px;
    padding: 25px 100px;
    border-radius: 4px;
}

.feature-list-item + .feature-list-item,
.activity-list-item + .activity-list-item,
.team-list-item + .team-list-item,
.list-customers-item + .list-customers-item {
    margin-left: 30px
}

.feature-list .title {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.clarifications {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.71;
}

/* Activity */

.activities {
    padding-top: 0;
}

.activity-list-item {
    position: relative;
}

.activity-list {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.activity-list .example {
    position: absolute;
    left: 0;
    bottom: 0;

    margin-top: 0;
    margin-bottom: 0;
    padding-top: 27px;
    height: 70px;
    width: 100%;

    background-color: var(--complementary-color6);
    color: var(--white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
}

/* Team */

.team {
    background: var(--complementary-color3);
}

.team-list {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.team-list .title {
    color: var(--title-text-color);
}

.card-image {
    display: block;
}

.card-foto {
    width: 270px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
}

.card-foto-content {
    padding-top: 30px;;
    padding-bottom: 24px;
    background: var(--white-color);
}

.name {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.specialization {
    margin-top: 0;
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.links-list {
    display: flex;
    padding: 0;
    justify-content: center;
}

.links-list > .social + .social {
    margin-left: 10px;
}

.social-list {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    --color3: var(--complementary-color8);
}

.social-list:hover, .social-list:focus {
    background: var(--accent-color);
    --color3: var(--white-color);
}

/* Customers */

.list-customers {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    justify-content: center;
}

.customers-link {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.customers-link:hover,
.customers-link:focus {
    border-color: var(--accent-color);
}

.icon {
    fill: var(--complementary-color8);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover .icon,
.customers-link:focus .icon {
    fill: var(--accent-color);
}

.list-customers-item + .list-customers-item {
    margin-left: 30px
}

/* Backdrop */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);   
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

/* Modal */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding: 40px;
    text-align: center;
    
    min-width: 528px;
    min-height: 581px;
    background-color: var(--white-color);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.close {
    position: absolute;
    top: 8px;
    right: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: inline-block;
    padding: 6px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
}

.close:hover {
    fill: var(--accent-color);
    cursor: pointer;
}

.appeal {
    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1,15;
    text-align: center;
    color: var(--title-text-color);
}

/* Form */

.form-service {
    width: 448px;
    margin: 0;
    padding: 0;
}

.form-data {
    position: relative;
    margin-bottom: 28px;
}

.form-label {
    position: absolute;
    top: 50%;
    left: 42px;
    transform: translateY(-50%) translateX(0);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
}

.form-input {
    width: 448px;
    height: 40px;
    margin: 0;
    padding: 12px 18px 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.form-input:focus {
    border-color: var(--accent-color);
    outline: none;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
    color: var(--accent-color);
    transform: translateY(-40px) translateX(-25px);
}

.icon-data {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 18px;
    height: 18px;
}

.form-data:focus-within > .icon-data {
    fill: var(--accent-color);
}

/* Textarea */

.form-data-comment {
    position: relative;
    margin-bottom: 20px;
}

.form-label-2 {
    transform: translateY(0);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    position: absolute;
    top: 12px;
    left: 16px;
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
}

.wishes {
    resize: none;

    width: 448px;
    margin: 0;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.wishes:focus {
    border-color: var(--accent-color);
    outline: none;
}

.wishes:focus + .form-label-2,
.wishes:not(:placeholder-shown) + .form-label-2 {
    color: var(--accent-color);
    transform: translateY(-30px);
}

/* Checkbox */

.checkbox-label {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.checkbox-label a {
    margin-right: 4px;
    margin-left: 4px;
    color: var(--accent-color);
}

.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.check-mark {
    display: inline-block;
    
    width: 16px;
    height: 15px;
    margin-right: 8px;

    border: 2px solid var(--title-text-color);
    border-radius: 2px;
}

.checkbox:checked + .check-mark {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-origin: border-box;
}

/* Button */

.send {
    display: inline-block;
    
    min-width: 200px;
    padding: 10px 55px;
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 4px;

    background-color: var(--accent-color);
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    line-height: 1.88;
    letter-spacing: 0.06em
}

.send:hover {
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

/* Footer */

.footer {
    background-color: var(--complementary-color5);
}

.logo .logo-white {
    color: var(--white-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.container-address {
    padding-top: 60px;
    padding-bottom: 60px;
}

 /* Address-list */

 .address-list {
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;
 }

.address-list .location {
    color: var(--white-color);
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    font-style: normal;
}

.address-list > .dislocation {
    margin-bottom: 9px;
}

.address-list > .email {
    margin-bottom: 9px;
}

.address-list .info-2 {
    color: var(--complementary-color);
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    font-style: normal;
}

/* Links-list-2 */

.container-invitation {
    padding-top: 72px;
    padding-bottom: 100px;
}

.invitation {
    margin-top: 0;
    margin-bottom: 20px;

    color: var(--white-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.links-list-2 {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.links-list-2 > .social-2 + .social-2 {
    margin-left: 10px;
}

.links-list-2 > .social {
    margin-top: 0;
    margin-bottom: 0;
}

.social-list-2 {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: var(--complementary-color4);
    --color3: var(--white-color);
}

.social-list-2:hover,
.social-list-2:focus {
    background: var(--accent-color);
}

/* Form-mailing */

.container-mailing {
    padding-top: 72px;
    padding-bottom: 94px;
}

.form-container {
    display: flex;
}

.form-mailing input {
    width: 358px;
    height: 50px;
    margin-right: 12px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--complementary-color5);
}

.form-mailing input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}

.input-mail {
    padding-left: 16px;
}

.mailing {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    min-width: 200px;
    height: 50px;
    padding: 10px 29px;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 4px;

    background-color: var(--accent-color);
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    line-height: 1.88;
    letter-spacing: 0.06em
}

.icon-mailing {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.data {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

/* Cтилизация порфолио*/

.header-portfolio {
    margin-bottom: 93px;
    border-bottom: 1px solid #ECECEC;
}

.section-2 {
    margin-bottom: 94px;
}

.section-title-2 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

 /* Filter */

.filter {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 50px;
    padding: 0;
}

.filter .filter-list + .filter-list {
    margin-left: 8px;
}

.filter .btn {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    border: 1px solid transparent;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    font-family: Roboto, sans-serif;
}

.filter .btn:hover,
.filter .btn:focus {
    color: var(--white-color);
    background: var(--accent-color);
}

.filter > .first {
    min-width: 73px;
}

.filter > .second {
    min-width: 128px;
}

.filter > .third {
    min-width: 145px;
}

.filter > .fourth {
    min-width: 103px;
}

.filter > .fifth {
    min-width: 130px;
}

/* Example-2*/

.example-2 {
    text-decoration: none;
}

/* Works-list */

.works-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.card {
    width: 370px;
}

.card-active {
    position: relative;
    overflow: hidden;
}

.works-list .description {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    display: inline-block;
    content: '';

    height: 294px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.56;
    padding-top: 63px;
    padding-left: 24px;
    padding-right: 24px;
    color: var(--white-color);
    background: var(--complementary-color7);
}

.card-active:hover .description,
.card-active:focus .description {
    transform: translateY(0);
}

.card-content {
    padding: 20px 24px;
    background: var(--white-color);
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    box-sizing: border-box;
}

.works-list .title-2 {
    margin-top: 0;
    margin-bottom: 4px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.works-list .description-2 {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;   
}

.works-list-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px; 
}

.works-list-item:nth-child(3n) {
    margin-right: 0;
}

.works-list-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.works-list-item:hover,
.works-list-item:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}